<h1>HELLO</h1>
<br>
<p><%= @result["user"]["username"] %></p>
<ul>
<% @result["user_achievements"].each do |a| %>
<li><%= a["name"] %> - <%= a["description"] %> - <%= a["points"] %></li>
<% end %>
</ul>