<!DOCTYPE html>
<html>
<head>

  <title></title>
</head>
<body>
  <div class="jumbotron text-center xp-nav">
    <h1>XP: <%= @avatar['xp'] %></h1>  
  </div>

  <div>
    <ul class='list-group text-center'>
      <li class='list-group-item'><h1><%= @avatar['name'] %></h1></li>
      <li class='list-group-item'><img src="<%= @avatar['img']%>"></li>
    </ul>
  </div>
  <div class='container' style='width: 90%%; margin: 0 auto; border: 2px solid black'>

      <div class='text-center col-lg-5'>
        <h2>Completed Achievements</h2>
          <% @completed_achievements.each do |achievement| %>
            <%= achievement['name'] %>
          <% end %>
      </div>
    <div class='col-lg-5 text-center'>
      <h2>Available Achievements</h2>
    </div>
    
  </div>
</body>
</html>