<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <ul>
    <li>Name: <%= @avatar['name'] %></li>
    <li><%= @avatar['img']%></li>
    <li>XP: <%= @avatar['xp']%></li>
  </ul>
</body>
</html>