/*/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




/*Fonts*/
/*font-family: 'Roboto Mono', monospace;
font-family: 'Teko', sans-serif;
font-family: 'Audiowide', cursive;*/

body{
  background-color: #000 !important;
  color: #fff !important;
  font-family: 'Audiowide', cursive !important;
}

/*
  Dropdown 
*/
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #000;
  color: #fff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #000;
}


.jumbotron{
  background-color: #000;
  color: #fff;
}
.avatar-img{
  width: 70%;
  height: 40em;
  border-radius: 150px 150px;
}
.incompleted-list-item{
  width: 60%;
  background-color: #000;
  color: #fff;
  text-align: left; 
}
.completed-list-item{
  width: 60%;
  background-color: #000;
  color: #fff;
  text-align: left;
}
.avatar-achievement-container{
  width: 90%;
}
.comment-btn{
  background: green;
  color: #fff;
}
@media screen and (max-width: 40em){
  .avatar-img{
    width: 100%;
    height: 30em;
    border-radius: 0px 0px;
  }
  .avatar-achievement-container{
    width: 100%;
    padding: 0px;
  }
  .incompleted-list-item{
    width: 100%;
  }
  .completed-list-item{
    width: 100%;
  }
  .avatar-achievement-column{
    width: 100%;
  }
} 