<h1>Achievement - <%= @achievement["name"] %></h1>
<br>
<p>Description - <%= @achievement["description"] %></p>
<br>
<p>Point value - <%= @achievement["points"] %></p>
<%= link_to "Go back to achievements", achievements_path, class: "all-achievements" %>